@import '../../vars.css';

.overlays {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.5rem;
  background-color: #e0dada;
  border-radius: 10px;
  color: black;
  height: 85vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  justify-content: center;
  overflow-x: hidden;
}

.contentWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
  padding: 1rem;
}

.textContent {
  flex: 1;
  overflow-y: auto;
  padding-right: 1rem;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  width: 100%;
  flex-wrap: wrap;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 32px;
  height: 32px;
  filter: brightness(90%);
  z-index: 11;
}

.closeButton:hover {
  filter: contrast(100) saturate(100);
}

@media screen and (max-width: 830px) {
  .container {
    width: 90vw;
    height: 70vh;
    padding: 1.5rem;
  }

  .contentWrapper {
    gap: 1rem;
  }

  .buttonsContainer {
    justify-content: center;
  }
}